<a href="https://colab.research.google.com/github/murthyogesh/EDA-on-THE-Automobile-DATASET-/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = [1,2,3,4]
for i in l:
    print(i*i,end=" ")

1 4 9 16

In [ ]:
l = [1,2,3,4,5]
for i in l:
    print("SEDJHTGFVJLKBH ")

SEDJHTGFVJLKBH
SEDJHTGFVJLKBH
SEDJHTGFVJLKBH
SEDJHTGFVJLKBH
SEDJHTGFVJLKBH

In [ ]:
for i in range(1,11):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

In [ ]:
l = [i**2 for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l = [1,2,3,4,5]
n = [1,2,3,4,5,6,7,8]
l.extend(n)
print(l)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l = [1,22,[3,4],5]
nl =  []
for i in l:
    if isinstance(i,list):
        nl.extend(i)
    else:
        nl.append(i)

print(nl)

[1, 22, 3, 4, 5]

In [ ]:
l1 = [1,22.3,[33,4],6]
k = []

for data in l1:
    if len(str(data))>1 and type(data) == list:
        for datas in data:
            k.append(datas)

        continue;
    k.append(data)
print(k)

[1, 22.3, 33, 4, 6]

In [ ]:
l1 = [1, 23, [33, 4,55,1,2], 6]
k = []

for data in l1:
    if type(data) == list:
        k.extend(data)
    else:
        k.append(data)

print(k)

[1, 23, 33, 4, 55, 1, 2, 6]

In [ ]:
l1 = [1, 23, 33, 4, 6]
print(type(l1[0]))

<class 'int'>

In [ ]:
print(type(l1))

<class 'list'>

In [ ]:
from collections import Counter
s = "RBI repo rate cut by io 50 bps: The RBI has cut the repo rate and other key rates by 50 bps in today's monetary policy announcement."
s = s.split()
print(s)

a = dict(Counter(s))
for k,v in a.items():
    if (v >=1):
        print(k,v)

RBI
repo
rate
cut
by
io
50
bps:
The
RBI
has
cut
the
repo
rate
and
other
key
rates
by
50
bps
in
today's
monetary
policy
announcement.
['RBI', 'repo', 'rate', 'cut', 'by', 'io', '50', 'bps:', 'The', 'RBI', 'has', 'cut', 'the', 'repo', 'rate', 'and', 'other', 'key', 'rates', 'by', '50', 'bps', 'in', "today's", 'monetary', 'policy', 'announcement.']
RBI 2
repo 2
rate 2
cut 2
by 2
io 1
50 2
bps: 1
The 1
has 1
the 1
and 1
other 1
key 1
rates 1
bps 1
in 1
today's 1
monetary 1
policy 1
announcement. 1

In [ ]:
s1 = 'mysuru maharaja'
d = {}

for i in s1:
    if i in d.keys():
        d[i] = d[i]+1

    else:
        d[i] = 1
print(d)

{'m': 2, 'y': 1, 's': 1, 'u': 2, 'r': 2, ' ': 1, 'a': 4, 'h': 1, 'j': 1}

In [ ]:
s2='mysuru maharaja'
a = dict(Counter(s2))
print(a)

{'m': 2, 'y': 1, 's': 1, 'u': 2, 'r': 2, ' ': 1, 'a': 4, 'h': 1, 'j': 1}

In [ ]:
l1 = 'listen'
l2 = 'silent'

if len(l1) !=len(l2):
    print('not an anagram')
elif sorted(l1) == sorted(l1):
    print('anagram')
else:
    print('not an anagram')

anagram

In [ ]:
str1 = "listen"
str2 = "silent"

str1 = str1.replace(" ", "").lower()
str2 = str2.replace(" ", "").lower()

if len(str1) != len(str2):
    print("Not an anagram")
elif sorted(str1) == sorted(str2):
    print("Anagram")
else:
    print("Not an anagram")

Anagram

In [ ]:
s = "RBI repo rate cut by io 50 bps: The RBI has cut the repo rate and other key rates by 50 bps in today's monetary policy announcement."
s=s.lower()
a = ['a','e','i','o','u']
d={}
for i in s:
    if i in a:
        if i in d.keys():
            d[i]=d[i]+1
        else:
            d[i]=1
print(d)

{'i': 5, 'e': 12, 'o': 8, 'a': 8, 'u': 3}

In [ ]:
from collections import Counter
s = "RBI repo rate cut by io 50 bps: The RBI has cut the repo rate and other key rates by 50 bps in today's monetary policy announcement."
s.lower()
v = ['a','e','i','o','u']
a = []
b = []
for i in s:
    if i in v:
        a.append(i)
    else:
        b.append(i)

print(a)
Counter(a)

['e', 'o', 'a', 'e', 'u', 'i', 'o', 'e', 'a', 'u', 'e', 'e', 'o', 'a', 'e', 'a', 'o', 'e', 'e', 'a', 'e', 'i', 'o', 'a', 'o', 'e', 'a', 'o', 'i', 'a', 'o', 'u', 'e', 'e']

Counter({'e': 12, 'o': 8, 'a': 8, 'u': 3, 'i': 3})

In [ ]:
from collections import Counter
s = "RBI repo rate cut by io 50 bps: The RBI has cut the repo rate and other key rates by 50 bps in today's monetary policy announcement."
s=s.lower()

a = ['a','e','i','o','u']
d = []
for i in s:
    if i in a:
        d.append(i)

Counter(d)

Counter({'e': 12, 'o': 8, 'a': 8, 'i': 5, 'u': 3})

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
a = sum(l)
print(a)

45

In [ ]:
a= "1,2,3,4,5,6,7,8,9"
s=a.split()
print(s)

['1,2,3,4,5,6,7,8,9']

In [ ]:
a='listen'
n=Counter(a)
print(n)

Counter({'l': 1, 'i': 1, 's': 1, 't': 1, 'e': 1, 'n': 1})

In [ ]:
b = 'silen'
s=Counter(b)
print(s)

Counter({'s': 1, 'i': 1, 'l': 1, 'e': 1, 'n': 1})

In [ ]:
if n == s:
    print("anagram")
else:
    print("not an anagram")

anagram

In [ ]:
s = "Hello World"
s=s.replace(" ", "").lower()

vowels = "aeiou"
v_count = 0
V=[]
c_count = 0
C = []
for i in s:
    if i in vowels:
        v_count =v_count+ 1
        V.append(i)
    else:
        c_count =c_count+ 1
        C.append(i)

print("Vowels:", v_count,V)

print("Consonants:", c_count,C)
Counter(V)

Vowels: 3 ['e', 'o', 'o']
Consonants: 7 ['h', 'l', 'l', 'w', 'r', 'l', 'd']

Counter({'o': 2, 'e': 1})

In [ ]:
Counter(C)

Counter({'l': 3, 'h': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
s = "MYSURUMAHARAJA"
result = ""


for i in s:
    if i not in result:
        result = result+i


print(result)

MYSURAHJ

In [ ]:
4860069984

In [ ]:
import pandas as pd
amount = pd.Series([23,22,33,40])
print(type(amount))
s = pd.Series(amount,index = [1,2,3,4])
print(s)

<class 'pandas.core.series.Series'>
1    22.0
2    33.0
3    40.0
4     NaN
dtype: float64

In [ ]:
import pandas as pd

data =pd.Series ([1,2,3,4])
amount = pd.Series([23,22,33,40])
names =pd.Series (['yo','ro','jo','mo'])
print(type(names))
df = pd.DataFrame({
    'Data':data,
    'Amount': amount,
    'Names':names

})
print(df)
print(type(df))

<class 'pandas.core.series.Series'>
   Data  Amount Names
0     1      23    yo
1     2      22    ro
2     3      33    jo
3     4      40    mo
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd

data = pd.Series([1,2,3,4])
amount = pd.Series([23,22,33,40])
names = pd.Series(['yo','ro','jo','mo'])


df = pd.concat([data,amount,names],axis =1)
df.columns=(['Data','Amount','Names'])
print(df)
print(type(df))

   Data  Amount Names
0     1      23    yo
1     2      22    ro
2     3      33    jo
3     4      40    mo
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# merge 2 tables perform inner join


import pandas as pd

c = pd.DataFrame({
    'c_id':[1,2,3,4,5],
     'item':['A','B','C','D','k']
})

i = pd.DataFrame({
    'c_id':[1,2,3,4,6],
     'amount':[100,233,43,54,87]
})

join  =  pd.merge(c,i, on = 'c_id') # inner join #if u want u con perform specific join here like inner ,left,right,outer (how = 'left/right/outer)
print(join)

   c_id item  amount
0     1    A     100
1     2    B     233
2     3    C      43
3     4    D      54

In [ ]:
# merge 2 tables and perform left join
fulljoin =  pd.merge(c,i ,on = 'c_id',how = 'outer')
fulljoin.index = [1,2,3,4,5,6]
print(full)

   c_id item  amount
1     1    A   100.0
2     2    B   233.0
3     3    C    43.0
4     4    D    54.0
5     5    k     NaN
6     6  NaN    87.0

In [ ]:
# merge 2 tables and perform left join

left_join = pd.merge(c,i,on='c_id',how = 'left')
print(left_join)

   c_id item  amount
0     1    A   100.0
1     2    B   233.0
2     3    C    43.0
3     4    D    54.0
4     5    k     NaN

In [ ]:
import pandas as pd

c = pd.DataFrame({
    'c_id':[1,2,3,4,5],
     'item':['A','B','C','D','k']
})

i = pd.DataFrame({
    'c_id':[1,2,3,4,6],
     'amount':[100,233,43,54,87]
})

#a = clicks[~clicks['campaign_id'].isin(installs['campaign_id'])]
a = [c['c_id'].isin(i['c_id'])]
print(a)

b = [~c['c_id'].isin(i['c_id'])]
print(b)

#  Use ~ (Tilde) to Negate isin() gives a True/False for each row. ~ reverses that.

n=c[~c['c_id'].isin(i['c_id'])]
print(n)

[0     True
1     True
2     True
3     True
4    False
Name: c_id, dtype: bool]
[0    False
1    False
2    False
3    False
4     True
Name: c_id, dtype: bool]
   c_id item
4     5    k

In [ ]:
import pandas as pd

c = pd.DataFrame({
    'c_id':[1,2,3,4,5],
     'item':['A','B','C','D','k']
})

i = pd.DataFrame({
    'c_id':[1,2,3,4,6],
     'amount':[100,233,43,54,87]
})


join = pd.merge(c,i,on ='c_id',how = 'outer')

join.index = [1,2,3,4,5,6]
print(join)

a =join.fillna({'item':'h','amount':78})
print(a)

   c_id item  amount
1     1    A   100.0
2     2    B   233.0
3     3    C    43.0
4     4    D    54.0
5     5    k     NaN
6     6  NaN    87.0
   c_id item  amount
1     1    A   100.0
2     2    B   233.0
3     3    C    43.0
4     4    D    54.0
5     5    k    78.0
6     6    h    87.0

In [ ]:
#merge two dataframes and calculate the install to click ratio

import pandas as pd

clicks = pd.DataFrame({
    'campaign_id': [1, 2, 3],
    'clicks': [100, 150, 200]
})

installs = pd.DataFrame({
    'campaign_id': [1, 2, 3],
    'installs': [10, 30, 50]
})

# Merge on 'campaign_id'
merged = pd.merge(clicks, installs, on='campaign_id')


merged['install_to_click_ratio'] = merged['installs'] / merged['clicks']
#print(merged)

a = clicks[(clicks['clicks']>100) & (clicks['clicks']<300)]
print(a)

   campaign_id  clicks
1            2     150
2            3     200

In [ ]:
#merge two dataframes and

import pandas as pd
# Example dataframes
clicks = pd.DataFrame({
    'campaign_id': [1, 2, 3,4],++

    'clicks': [100, 150, 200,400]
})

installs = pd.DataFrame({
    'campaign_id': [1, 2, 3],
    'installs': [10, 30, 50]
})

# Records in clicks not present in installs
a = clicks[~clicks['campaign_id'].isin(installs['campaign_id'])]

print(a)

   campaign_id  clicks
3            4     400